/* Global styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f0f2f5;
  padding: 0;
  line-height: 1.6;
  margin-top: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

/* General styles for all table headers */
.ant-table-thead > tr > th {
  background-color: LightBlue !important; /* Force the background color */
  color: rgb(0, 0, 0) !important; /* Force the text color */
  font-weight: bold !important; /* Force the font weight */
  text-align: center !important; /* Force the text alignment */
  padding: 10px !important; /* Force padding */
}



